RENDERING 

<table>
<thead>
...
</thead>
<tbody>
{{#each products}}
  <tr>
    <td>{{brand_name}}</td>
    <td>{{additional_model_information}}</td>
  </tr>
{{/each}}
</tbody>
</table>


{{!-- views/fridges.handlebars

<table></table>
<thead>
...
</thead>
<tbody>
{{#each products}}
  <tr>
    <td>{{brand_name}}</td>
    <td>{{additional_model_information}}</td>
  </tr>
{{/each}}
</tbody>
</table>


// 
<ul>
{{each ...}}
   <li>{{myfield1...}, {{myfield2...}} .....}</li>
{{}}
</ul> --}}
